doctype html
html(lang="ru")
  head
    title Amo Message Server

  body
    h1 Amo Message Server

    ul 
      li 
        a(href='/conversations/') conversations
      li 
        a(href='/sources') источники
      li 
        a(href='/account') аккаунт
      li 
        a(href='/users') пользователи
      li 
        a(href='/contacts') контакты
      li 
        a(href='/chats/addNewAndSendText') создать чат и отправить входящее сообщение
      
