doctype html
html(lang="ru")
  head
    title Amo Message Server

  body
    h1 Amo Message Server

    ul 
      li 
        a(href='/amoConversations/') Чаты
      li 
        a(href='/sources') источники
