doctype html
html(lang="ru")
  head
    title Amo Widget Server
    
  body
    h1 Amo Widget Server

    ul 
      li 
        a(href='/admin/') info accessToken
      li 
        a(href='/admin/refresh') refresh accessToken
      li 
        a(href='/admin/leads') сделки
      li 
        a(href='/admin/contacts') контакты
